In [150]:

import pandas as pd
df = pd.read_csv('regression_data.csv', delimiter=";")
print(df.head())

           id        date  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
0  7129300520    10/13/14         3       1.00         1180      5650     1.0
1  6414100192  12/09/2014         3       2.25         2570      7242     2.0
2  5631500400     2/25/15         2       1.00          770     10000     1.0
3  2487200875  12/09/2014         4       3.00         1960      5000     1.0
4  1954400510     2/18/15         3       2.00         1680      8080     1.0

   waterfront  view  condition  ...  sqft_above  sqft_basement  yr_built  \
0           0     0          3  ...        1180              0      1955
1           0     0          3  ...        2170            400      1951
2           0     0          3  ...         770              0      1933
3           0     0          5  ...        1050            910      1965
4           0     0          3  ...        1680              0      1987

   yr_renovated  zipcode      lat     long  sqft_living15  sqft_lot15   price
0             0    98178  47.5112 -122.257           1340        5650  221900
1          1991    98125  47.7210 -122.319           1690        7639  538000
2             0    98028  47.7379 -122.233           2720        8062  180000
3             0    98136  47.5208 -122.393           1360        5000  604000
4             0    98074  47.6168 -122.045           1800        7503  510000

[5 rows x 21 columns]

In [151]:


df.drop(['date'],axis=1, inplace = True )

In [152]:

print(df.shape[0])

21597

In [153]:
print(df['bedrooms'].unique())
print(df['bathrooms'].unique())
print(df['floors'].unique())

print(df['grade'].unique())
print(df['condition'].unique())

[ 3  2  4  5  1  6  7  8  9 11 10 33]
[1.   2.25 3.   2.   4.5  1.5  2.5  1.75 2.75 3.25 4.   3.5  0.75 4.75
 5.   4.25 3.75 1.25 5.25 6.   0.5  5.5  6.75 5.75 8.   7.5  7.75 6.25
 6.5 ]
[1.  2.  1.5 3.  2.5 3.5]
[ 7  6  8 11  9  5 10 12  4  3 13]
[3 5 4 1 2]

In [154]:

df.sort_values(by=['price'], ascending=False, inplace=True)

print(df['id'].head(10))

7245    6762700020
3910    9808700762
9245    9208900037
4407    2470100110
1446    8907500070
1313    7558700030
1162    1247600105
8085    1924059029
2624    7738500731
8629    3835500195
Name: id, dtype: int64

In [155]:


print(df['price'].mean())

540296.5735055795

In [156]:
df.groupby("bedrooms").mean()["price"]
df.groupby("bedrooms").mean()["sqft_living"]


import matplotlib.pyplot as plt


df.corr()

print(df['grade'].corr(df['condition']))

-0.14689580091008822

In [157]:
df.groupby("waterfront").mean()["price"]

waterfront
0    5.317623e+05
1    1.662524e+06
Name: price, dtype: float64

In [158]:
df.groupby("bedrooms").mean()["sqft_living"]

bedrooms
1      888.153061
2     1239.752899
3     1805.837235
4     2554.649666
5     3047.545284
6     3284.341912
7     3974.210526
8     3800.000000
9     3775.000000
10    3706.666667
11    3000.000000
33    1620.000000
Name: sqft_living, dtype: float64

In [159]:
df.groupby("bedrooms").mean()["price"]

bedrooms
1     3.182395e+05
2     4.013877e+05
3     4.662766e+05
4     6.355647e+05
5     7.868741e+05
6     8.258535e+05
7     9.514478e+05
8     1.105077e+06
9     8.939998e+05
10    8.200000e+05
11    5.200000e+05
33    6.400000e+05
Name: price, dtype: float64

In [160]:
# Get the number of houses in each category

df.groupby("bathrooms").count()["price"]

bathrooms
0.50       4
0.75      71
1.00    3851
1.25       9
1.50    1445
1.75    3048
2.00    1930
2.25    2047
2.50    5377
2.75    1185
3.00     753
3.25     589
3.50     731
3.75     155
4.00     136
4.25      79
4.50     100
4.75      23
5.00      21
5.25      13
5.50      10
5.75       4
6.00       6
6.25       2
6.50       2
6.75       2
7.50       1
7.75       1
8.00       2
Name: price, dtype: int64

In [161]:
df.groupby("bedrooms").count()["price"]

bedrooms
1      196
2     2760
3     9824
4     6882
5     1601
6      272
7       38
8       13
9        6
10       3
11       1
33       1
Name: price, dtype: int64

In [162]:
df.groupby("sqft_living").count()["price"]

sqft_living
370      1
380      1
390      1
410      1
420      2
        ..
9640     1
9890     1
10040    1
12050    1
13540    1
Name: price, Length: 1034, dtype: int64

In [163]:
df.groupby("floors").count()["price"]

floors
1.0    10673
1.5     1910
2.0     8235
2.5      161
3.0      611
3.5        7
Name: price, dtype: int64

In [164]:
df.groupby("grade").count()["price"]

grade
3        1
4       27
5      242
6     2038
7     8974
8     6065
9     2615
10    1134
11     399
12      89
13      13
Name: price, dtype: int64

In [165]:
df.groupby("view").count()["price"]

view
0    19475
1      332
2      961
3      510
4      319
Name: price, dtype: int64

In [166]:
df.groupby("condition").count()["price"]

condition
1       29
2      170
3    14020
4     5677
5     1701
Name: price, dtype: int64

In [167]:
df.groupby("waterfront").count()['price']

waterfront
0    21434
1      163
Name: price, dtype: int64

In [168]:
df.groupby("view").count()["price"]

view
0    19475
1      332
2      961
3      510
4      319
Name: price, dtype: int64

In [169]:
df.groupby("long").count()["price"]

long
-122.519    1
-122.515    1
-122.514    1
-122.512    1
-122.511    2
           ..
-121.325    1
-121.321    1
-121.319    1
-121.316    1
-121.315    2
Name: price, Length: 751, dtype: int64

In [170]:
df.groupby("lat").count()["price"]

lat
47.1559    1
47.1593    1
47.1622    1
47.1647    1
47.1764    1
          ..
47.7771    2
47.7772    3
47.7774    1
47.7775    3
47.7776    3
Name: price, Length: 5033, dtype: int64

In [171]:
df.groupby("sqft_living15").count()["price"]

sqft_living15
399     1
460     2
620     2
670     1
690     2
       ..
5600    1
5610    1
5790    6
6110    1
6210    1
Name: price, Length: 777, dtype: int64

In [172]:
df.groupby("sqft_lot15").count()["price"]

sqft_lot15
651       1
659       1
660       1
748       2
750       4
         ..
434728    1
438213    1
560617    1
858132    1
871200    1
Name: price, Length: 8682, dtype: int64

In [173]:
df.groupby("sqft_above").count()["price"]

sqft_above
370     1
380     1
390     1
410     1
420     2
       ..
7880    1
8020    1
8570    1
8860    1
9410    1
Name: price, Length: 942, dtype: int64

In [174]:
df.groupby("sqft_basement").count()["price"]

sqft_basement
0       13110
10          2
20          1
40          4
50         11
        ...
3260        1
3480        1
3500        1
4130        1
4820        1
Name: price, Length: 306, dtype: int64

In [175]:
df.groupby("yr_built").count()["price"]

yr_built
1900     87
1901     29
1902     27
1903     46
1904     45
       ...
2011    130
2012    170
2013    201
2014    559
2015     38
Name: price, Length: 116, dtype: int64

In [176]:
df.groupby("yr_renovated").count()["price"]

yr_renovated
0       20683
1934        1
1940        2
1944        1
1945        3
        ...
2011       13
2012       11
2013       37
2014       91
2015       16
Name: price, Length: 70, dtype: int64

In [177]:
df.groupby("zipcode").count()["price"]

zipcode
98001    361
98002    199
98003    280
98004    317
98005    168
        ...
98177    255
98178    262
98188    136
98198    280
98199    317
Name: price, Length: 70, dtype: int64

In [178]:

df[((df['bedrooms'] == 3) | (df['bedrooms'] == 4)) & (df['bathrooms'] > 3) & (df['floors'] == 1) & (df['waterfront'] == 0) & (df['condition'] >= 3) & (df['grade'] >= 5) & (df['price'] < 300000)]

Empty DataFrame
Columns: [id, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15, price]
Index: []

In [179]:

df[df['price'] > 2*df['price'].mean()]

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
7245,6762700020,6,8.00,12050,27600,2.5,0,3,4,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800,7700000
3910,9808700762,5,4.50,10040,37325,2.0,1,2,3,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449,7060000
9245,9208900037,6,7.75,9890,31374,2.0,0,4,3,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730,6890000
4407,2470100110,5,5.75,9200,35069,2.0,0,0,3,13,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345,5570000
1446,8907500070,5,5.00,8000,23985,2.0,0,4,3,12,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750,5350000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15546,1326059182,5,3.25,5600,107157,2.0,0,0,3,10,3440,2160,1988,0,98072,47.7341,-122.102,3470,75794,1090000
5060,4385700660,3,1.50,2560,4000,1.5,0,0,5,8,1660,900,1927,0,98112,47.6384,-122.279,2560,4000,1090000
12549,3760500730,4,2.75,3010,10830,2.0,0,3,4,9,3010,0,1980,0,98034,47.7005,-122.232,3010,10650,1090000
8664,4151800530,4,2.50,2780,6837,2.0,0,0,3,9,2780,0,2004,0,98033,47.6660,-122.201,1160,6837,1090000
18761,4147200040,5,2.25,3650,13068,1.0,0,0,4,10,1850,1800,1976,0,98040,47.5458,-122.231,2760,13927,1090000

In [180]:

df[(df["bedrooms"] == 3 ) | (df["bedrooms"] == 4 )].groupby("bedrooms").mean()["price"]

bedrooms
3    466276.590900
4    635564.677129
Name: price, dtype: float64

In [181]:


df['zipcode'].unique()

array([98102, 98004, 98039, 98040, 98033, 98155, 98006, 98177, 98105,
       98144, 98008, 98112, 98075, 98199, 98109, 98034, 98074, 98119,
       98056, 98107, 98118, 98027, 98166, 98115, 98053, 98136, 98052,
       98029, 98125, 98116, 98122, 98065, 98005, 98045, 98077, 98024,
       98059, 98103, 98178, 98014, 98028, 98072, 98058, 98146, 98070,
       98117, 98038, 98198, 98007, 98023, 98126, 98011, 98019, 98003,
       98010, 98092, 98042, 98022, 98001, 98133, 98031, 98106, 98188,
       98108, 98055, 98148, 98168, 98030, 98032, 98002], dtype=int64)

In [182]:


df[df['yr_renovated'] > 0]

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
7245,6762700020,6,8.00,12050,27600,2.5,0,3,4,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800,7700000
3910,9808700762,5,4.50,10040,37325,2.0,1,2,3,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449,7060000
8085,1924059029,5,6.75,9640,13068,1.0,1,4,3,12,4820,4820,1983,2009,98040,47.5570,-122.210,3270,10454,4670000
2862,4114601570,3,3.25,5020,12431,2.0,1,4,3,10,3420,1600,1941,2002,98144,47.5925,-122.287,3680,12620,3600000
10435,1118000320,4,4.00,4260,11765,2.0,0,0,3,11,3280,980,1939,2010,98112,47.6380,-122.288,4260,10408,3400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19402,3163600076,1,1.00,1020,6871,1.0,0,0,3,6,1020,0,1937,1946,98146,47.5051,-122.338,1260,6933,152275
12971,9320900610,3,1.00,900,4770,1.0,0,0,3,6,900,0,1969,2009,98023,47.3038,-122.362,900,3480,146000
15526,3361400980,2,1.00,600,6120,1.0,0,0,3,5,600,0,1943,1989,98168,47.5000,-122.317,1090,6120,135000
2587,5061300030,2,1.50,980,5000,2.0,0,0,3,7,980,0,1922,2003,98014,47.7076,-121.359,1040,5000,134000
20946,1278000210,2,1.00,828,4524,1.0,0,0,3,6,828,0,1968,2007,98001,47.2655,-122.244,828,5402,110000

In [183]:
df.sort_values(by=['price'], ascending=False).iloc[10]

id               6.065300e+09
bedrooms         5.000000e+00
bathrooms        6.000000e+00
sqft_living      7.440000e+03
sqft_lot         2.154000e+04
floors           2.000000e+00
waterfront       0.000000e+00
view             0.000000e+00
condition        3.000000e+00
grade            1.200000e+01
sqft_above       5.550000e+03
sqft_basement    1.890000e+03
yr_built         2.003000e+03
yr_renovated     0.000000e+00
zipcode          9.800600e+04
lat              4.756920e+01
long            -1.221890e+02
sqft_living15    4.740000e+03
sqft_lot15       1.932900e+04
price            4.210000e+06
Name: 12358, dtype: float64